<footer>
  <div class="container">
    <div class="footer-content">
      <h3>بيانات التواصل</h3>
      <ul class="contact-list">
        <li><a href="mailto:aiss@aiss.co">Email: aiss@aiss.co</a></li>
        <li>
          <a href="https://wa.me/+971568305900">Number: +971 56 830 5900</a>
        </li>
        <li style="margin-top: 10px">
          <a
            href="https://maps.app.goo.gl/AS11VhiknLbc2a1r5"
            style="
              text-decoration: none;
              color: inherit;
              display: block;
              line-height: 1.8;
            "
          >
            <img
              src="assets/icons/location.webp"
              alt="location-img"
              loading="lazy"
              style="width: 18px; vertical-align: middle; margin-left: 5px"
            />
            العنوان : دولة الإمارات العربية المتحدة - الطابق الثالث - مكاتب رقم
            ٣
            <br />
            مركز دبي التجاري العالمي - طريق الشيخ زايد - صندوق بريدي رقم ٩٥٧٣ -
            دبي - المنطقة الحرة
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-content">
      <h3>روابط سريعة</h3>
      <ul class="list">
        <li><a href="fast/news.html">النشرات الاخبارية</a></li>
        <li><a href="fast/inquiries.html">الاستفسارات</a></li>
        <li><a href="fast/certificate.html">الشهادات</a></li>
        <li><a href="fast/jobs.html">الوظائف</a></li>
        <li><a href="fast/memberships.html">العضويات</a></li>
        <li><a href="fast/about.html">عن المعهد</a></li>
      </ul>
    </div>

    <div class="footer-content">
      <h3>تابعنا</h3>
      <ul class="social-links-list">
        <li>
          <a href="https://www.facebook.com/aissorg"
            ><img
              src="assets/icons/facebook.webp"
              alt="facebook-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a href="mailto:aiss@aiss.co"
            ><img
              src="assets/icons/email.webp"
              alt="email-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a href="https://t.me/+32qZLTmtsddlZjA0"
            ><img
              src="assets/icons/telegram.webp"
              alt="telegram-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/%d8%a7%d9%84%d9%85%d8%b9%d9%87%d8%af-%d8%a7%d9%84%d8%b9%d8%b1%d8%a8%d9%8a-%d9%84%d8%b9%d9%84%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d9%84%d8%a7%d9%85%d8%a9-aiss"
            ><img
              src="assets/icons/linkedin.webp"
              alt="linkedin-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a href="https://youtube.com/channel/UCaYDjluZ2hSspCFPefhMudw"
            ><img
              src="assets/icons/youtube.webp"
              alt="youtube-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/message/RQRUTKQ2VUW5N1?autoload=1&app_absent=0"
            ><img
              src="assets/icons/whatsapp.webp"
              alt="whatsapp-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a href="https://twitter.com/aissorg"
            ><img
              src="assets/icons/twitter.webp"
              alt="twitter-logo"
              style="width: 30px"
              loading="lazy"
          /></a>
        </li>
      </ul>
    </div>
  </div>

  <!--قسم سياسة الخصوصية-->
  <div class="bottom-bar">
    <p>المعهد العربي لعلوم السلامة 2026 © جميع الحقوق محفوظة</p>
    <p>
      <a href="AgreementTerm.html">الشروط و الأحكام</a> |
      <a href="AgreementPrivacy.html">سياسة الخصوصية </a>
      <img src="assets/icons/visa.webp" alt="visa-logo" loading="lazy" />
    </p>
  </div>
</footer>
